body {
  background-color: rgb(245, 245, 245);
}

form input {
  background-color: inherit;
  color: $grey-900;
  border-radius: 5px;
  border-color: $grey-500;
  border-width: 1px;
  border-style: solid;
  transition: all 0.5s;
  &:focus,
  &:hover {
    border-color: $primary-600;
    outline: none;
  }
  &:focus {
    @extend .shadow-300;
  }
}

.btn {
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: $grey-500;
  &-light {
    color: $grey-100;
  }
  &-dark {
    color: $grey-900;
  }
  &-primary {
    background-color: $primary-500;
  }
}