@import url("https://fonts.googleapis.com/css?family=Titillium+Web|Source+Code+Pro&display=swap");

body {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
}

.card {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
}

form {
  label {
    font-weight: 600;
    color: $grey-700;
  }
  input {
    background-color: inherit;
    font-weight: 600;
    color: $grey-900;
    border-radius: 5px;
    border-color: $grey-500;
    border-width: 1px;
    border-style: solid;
    transition: all 0.5s;
    &:focus,
    &:hover {
      border-color: $primary-600;
    }
    &:focus {
      @extend .shadow-300;
    }
  }
}

button, input {
  &:focus,
  &:hover {
    outline: none;
  }
}

.btn {
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: $grey-500;
  &-light {
    color: $grey-100;
  }
  &-dark {
    color: $grey-900;
  }
  &-primary {
    background-color: $primary-500;
  }
}
