* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
}

html, :root, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  @extend .fs-3;
}

h1 {
  @extend .fs-8;
}

h2 {
  @extend .fs-7;
}

h3 {
  @extend .fs-6;
}

h4 {
  @extend .fs-5;
}

h5 {
  @extend .fs-4;
}

h6 {
  @extend .fs-3;
}