// Array of 17 lengths, base 16px: 0 1/4 1/2 3/4 1 3/2 2 3 4 6 8 12 16 24 32 40 48

// Generate each margin and padding (top, bottom, left, right)

// Generate width and height, and max versions

.m-1 {
  margin: 16px;
}

.mb-1 {
  margin-bottom: 16px;
}

.w-1 {
  width: 16px
}

.mw-1 {
  max-width: 16px;
}